/**
 * 1. Never allow buttons to be full-width in a flex layout
 * 2. Force all button-styled elements to appear clickable.
 * 3. Allow us to style box model properties.
 * 4. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 5. Reset/normalize some styles.
 * 6. Line different sized buttons up a little nicer.
 * 7. Regardless of height align text in the center
 */
.c-button {
    @include rem(padding, 12px 40px);
    align-self: flex-start;
    border: 1px solid;
    border-radius: $global-radius;
    cursor: pointer; /* [2] */
    display: inline-block; /* [3] */
    font: inherit; /* [4] */
    font-family: $global-font-family-bold;
    line-height: 1.1;
    text-align: center; /* [6] */
    transition: $global-transition;
    vertical-align: middle; /* [7] */
}

/* Themes
   ====================================== */

/**
 * Theme is defined by background colour, text colour, and optional ghost themes
 */
$button-themes: ('primary': ($color-primary, $color-white, true));

@each $button-theme-name, $button-theme-colors in $button-themes {
    .c-button--#{$button-theme-name} {
        background-color: nth($button-theme-colors, 1);
        border: none;
        color: nth($button-theme-colors, 2);
        position: relative;
    }
    .c-button--#{$button-theme-name}:hover,
    .c-button--#{$button-theme-name}:focus {
        background-color: darken(nth($button-theme-colors, 1), 10%);
    }

    .c-button__text {
        position: relative;
        z-index: 1;
    }

    @if nth($button-theme-colors, 3) == true {
        .c-button--#{$button-theme-name}.c-button--ghost {
            background-color: transparent;
            border: 1px solid nth($button-theme-colors, 1);
            color: nth($button-theme-colors, 1);

            &:hover,
            &:focus {
                background-color: nth($button-theme-colors, 1);
                color: nth($button-theme-colors, 2);
            }
        }
    }
}

/* Variants
   ====================================== */

.c-button--round {
    @include rem(border-radius, $global-radius);
}

.c-button--shadow {
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.2);
}
.c-button--shadow:hover,
.c-button--shadow:focus {
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

// .c-button--transparent,
// .c-button--transparent:hover,
// .c-button--transparent:focus,
// .c-button--transparent:active {
//     background-color: transparent;
//     color: currentColor;

//     path {
//         fill: currentColor;
//     }
// // }

// .c-button--small {
//     padding: 10px $global-spacing;
// }

// .c-button--smaller {
//     font-size: 12px;
//     min-width: 120px;
//     padding: 10px $global-spacing;
// }

// .c-button--thin {
//     @include rem(padding, 2px 14px);
// }

// .c-button--block {
//     display: block;
// }

// .c-button--wide {
//     @include rem(padding-left, $global-spacing);
//     @include rem(padding-right, $global-spacing);
// }

// .c-button__icon {
//     margin-left: $global-spacing-small;
//     transition: transform $global-transition-speed $global-transition-easing;
//     will-change: transform;
//     vertical-align: middle;
// }
