$form-field-height: 60px;
$form-field-horizontal-padding: $global-spacing-small;
$form-field-vertical-padding: $global-spacing-tiny;
$form-field-border-color: $color-grey-light;
$form-field-border-color--active: darken($form-field-border-color, 15%);
$form-field-font-size: $inuit-global-font-size;
$form-field-multiline-rows: 6;
$form-checkbox-size: 10px;
$form-field-label-width: 160px;

// .c-form {
//     overflow: hidden;
// }

.c-form__field {
    @include inuit-clearfix();
    position: relative;
}

.c-form__label {
    cursor: pointer;
    display: block;
    flex: 0 0 $form-field-label-width;
    font-family: $global-font-family-bold;
    line-height: 1.4;
    width: $form-field-label-width;
}

.c-form__input {
    @include rem(padding-bottom, $form-field-vertical-padding);
    @include rem(padding-left, $form-field-horizontal-padding);
    @include rem(padding-right, $form-field-horizontal-padding);
    @include rem(padding-top, $form-field-vertical-padding);
    border: 1px solid $color-white;
    border-radius: $global-radius;
    font-family: $global-font-family-bold;
    font-size: $form-field-font-size;
    height: $form-field-height;
    -webkit-appearance: none;
}
.c-form__input:active {
    border-color: $form-field-border-color--active;
    box-shadow: $global-shadow-active;
}

.c-form__input.has-error,
.has-error > .c-form__input,
.c-form__input:not(.c-form__input--multiline):not(:empty):invalid {
    border-color: $color-red;
    color: $color-red;
}

.c-form__feedback {
    @include inuit-font-size(14px, false);
    align-items: center;
    color: $color-red;
    display: flex;
    line-height: 1.4;
    text-align: left;
}
.c-form__feedback-icon {
    height: 15px;
    width: 15px;
}

.c-form__input--multiline {
    height: ($global-spacing * $form-field-multiline-rows);
    padding-top: 14px;
}

// .c-form__field > input[type='checkbox'] {
//     -webkit-appearance: checkbox;

//     + .c-form__label {
//         display: inline-block;
//         margin-left: $global-spacing-tiny;
//     }
// }

// .c-form__checkbox {
//     -webkit-appearance: checkbox;
//     margin: 0;

//     @include mq($from: mobile) {
//         margin-top: 2px;
//     }
// }

.c-form__checkbox {
    -webkit-appearance: checkbox;
    left: 1px;
    margin: 0;
    outline: none;
    position: absolute;
    top: 1px;
    z-index: 0;
}

.c-form__checkbox + .c-form__label {
    @include rem(padding-left, $form-checkbox-size * 1.75);
    background-color: $color-pampas;
    font-family: $global-font-family-body;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.c-form__checkbox + .c-form__label::before {
    @include rem(height, $form-checkbox-size);
    @include rem(top, 2px);
    @include rem(width, $form-checkbox-size);
    border: 1px solid $global-font-color;
    border-radius: $global-radius;
    content: '';
    display: block;
    left: 0;
    opacity: 0.4;
    position: absolute;
    transition: all 0.12s, border-color 0.08s;
}
.c-form__checkbox:checked + .c-form__label:before {
    @include rem(left, 2px);
    @include rem(top, -0.1px);
    @include rem(width, $form-checkbox-size / 2);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    opacity: 1;
    transform: rotate(45deg);
}

.c-form__field + .c-form__field {
    margin-top: $global-spacing-small;
}

@include mq($from: mobile) {
    .c-form__field {
        display: flex;
    }

    .c-form__checkbox + .c-form__label::before {
        @include rem(top, 2px);
    }
    .c-form__checkbox:checked + .c-form__label:before {
        @include rem(top, 0);
    }

    .c-form__input {
        font-size: 18px;
    }
}

/* Variants
   ====================================== */

$form-row-button-width: 40px;

.c-form--row {
    display: flex;
    position: relative;

    .c-form__input {
        padding-right: ($form-row-button-width + $global-spacing-tiny);
        position: relative;
        z-index: 1;
    }

    .c-form__button {
        color: $color-black;
        cursor: pointer;
        height: 100%;
        position: absolute;
        right: 0;
        text-align: left;
        width: $form-row-button-width;
        z-index: 2;
    }
}

/**
 * This a WIP - needs more work!
 */
.c-form--flex {
    &,
    * {
        display: flex;
    }
}

@include mq($from: mobile) {
    .c-form--flex,
    .c-form--flex * {
        height: auto;
    }
}

@include mq($until: mobile) {
    .c-form--flex,
    .c-form--flex * {
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .c-form--flex * + * {
        margin-top: $global-spacing-tiny;
    }
}

.c-form__inline-link {
    position: relative;
}
.c-form__link {
    background-color: $color-white;
    font-size: $form-field-font-size;
    padding-left: $global-spacing-tiny;
    position: absolute;
    right: $form-field-horizontal-padding;
    top: calc(50% - #{$global-spacing-small});
}
