$site-header-height: 70px;
$site-header-height--small: 50px;
$site-logo-width: 96px;
$site-logo-width--small: 80px;

.c-site-logo {
    height: auto;
    position: relative;
    width: $site-logo-width--small;
    z-index: $global-highest-z-index + 3;
}

.c-site-header--stuck {
    background-color: $color-white;
    left: 0;
    position: fixed;
    top: 0;
    transition: background ($global-transition-speed * 2) $global-transition-easing;
    width: 100%;
    z-index: $global-highest-z-index + 3;
}
.c-site-header--stuck + main {
    margin-top: $site-header-height--small;
}

@include mq($until: mobile) {
    .c-site-header {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        height: 58px;
    }
}

@include mq($from: mobile) {
    .c-site-logo {
        width: $site-logo-width;
    }

    .c-site-header--stuck + main {
        margin-top: $site-header-height;
    }
}
.s-home .c-site-header--stuck {
    background-color: transparent;
}
