$font-families: ('Karla': '../fonts/karla-regular');

@each $font-family-name, $font-family-filename in $font-families {
    @font-face {
        font-family: $font-family-name;
        src: url('../fonts/#{$font-family-filename}.woff2') format('woff2'),
            url('../fonts/#{$font-family-filename}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}
