.u-flex {
    display: flex !important;
}

@include mq($from: mobile) {
    .u-flex\@mobile {
        display: flex !important;
    }

    .u-justify-center\@mobile {
        justify-content: center;
    }
}
@include mq($from: tablet) {
    .u-flex\@tablet {
        display: flex !important;
    }
}

.u-align-items-center {
    align-items: center;
}
.u-align-items-start {
    align-items: flex-start;
}
.u-align-items-end {
    align-items: flex-end;
}
.u-justify-start {
    justify-content: flex-start;
}
.u-justify-end {
    justify-content: flex-end;
}
.u-justify-between {
    justify-content: space-between;
}
.u-justify-center {
    justify-content: center;
}

.u-direction-column {
    flex-direction: column;
}

.u-flex-grow {
    flex-grow: 1;
}

.u-flex-grow-0 {
    flex-grow: 0;
}

.u-flex-100 {
    flex: 0 0 100px;
}

.u-flex-60 {
    flex: 0 0 60px;
}
