.u-heading {
    @include heading();
}

.u-font-size-14 {
    @include inuit-font-size(14px, false);
}
.u-font-size-13 {
    @include inuit-font-size(13px, false);
}

.u-text-center {
    text-align: center;
}
.u-text-left {
    text-align: left;
}

.u-underline {
    text-decoration: underline;
}
