.u-relative {
    position: relative;
}

.u-max-w-620 {
    max-width: 620px;
}

.u-max-w-400 {
    max-width: 400px;
}

.u-min-h-100vh {
    min-height: 100vh;
}

.u-m-auto {
    margin: auto;
}

.s-no-js .u-js-anim {
    animation: fadeInAnimationFallback 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0 !important;
}

@keyframes fadeInAnimationFallback {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.s-js .u-hide-js {
    display: none;
}

.u-depth {
    box-shadow: $global-shadow;
    will-change: transform;
    transition: $global-transition;
}

@include mq($from: mobile) {
    .u-w-auto\@mobile {
        width: auto !important;
    }
}
