html {
    background-color: $color-main-background;
    color: $global-font-color;
    font-family: $global-font-family-body;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 100%;
    overflow: hidden;
    transition: background ($global-transition-speed * 2) $global-transition-easing;
}

body::before {
    content: 'mobile';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0;
}

@each $breakpoint-name, $breakpoint-size in $mq-breakpoints {
    @include mq($from: $breakpoint-name) {
        body::before {
            content: '#{$breakpoint-name}';
        }
    }
}

@keyframes fadeInPage {
    to {
        opacity: 1;
    }
}
