.o-wrapper {
    padding-left: $global-spacing-large;
    padding-right: $global-spacing-large;
}

.o-wrapper--small {
    max-width: 600px;
}

.o-wrapper--medium {
    max-width: 900px;
}

@include mq($from: mobile) {
    .o-wrapper--article {
        margin-left: auto;
        margin-right: auto;
        max-width: $global-editorial-wrapper-max-width;
    }
}

@include mq($until: mobile) {
    .o-wrapper {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }
    .o-wrapper--small {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }
}
