$color-white: #fff;
$color-black: #203439;
$color-grey: #979797;
$color-grey-light: #e5e5e6;
$color-pampas: #f4f3ef;
$color-catalina: #033b7c;
$color-red: #eb2905;

$color-primary: $color-catalina;
$color-secondary: $color-pampas;
$color-tertiary: $color-black;

$color-main-background: $color-pampas;
