$global-radius: 2px !default;
$global-transition-speed: 0.25s;
$global-transition-easing: ease-in-out;
$global-transition-easing-cubic: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$global-transition: all $global-transition-speed $global-transition-easing !default;

$global-shadow: 0 10px 30px rgba($color-black, 0.02);
$global-shadow-active: 0 20px 60px rgba($color-black, 0.25);

$global-highest-z-index: 100;

$global-font-size: $inuit-global-font-size;
$global-line-height: $inuit-global-line-height;

$global-font-family-body: 'Karla', Arial, sans-serif;
$global-font-family-bold: 'Karla', Arial, sans-serif;
$global-font-family-light: 'Karla', Arial, sans-serif;
$global-font-family-headings: 'Karla', Arial, sans-serif;
$global-font-family-headings-alternate: 'Karla', Arial, sans-serif;

$global-font-color: $color-black;

$global-site-header-spacing: $global-spacing-large;
$global-page-header-breakpoint: tablet;
$global-page-header-height: 85px;
$global-page-header-height--small: 60px;

$global-image-placeholder-color: darken($color-white, 5%);

$global-editorial-wrapper-max-width: 1000px;
